<%- include('../layouts/header') %>


<h1>Password Reset</h1>

<% include('../layouts/footer.ejs') %>

<%
    if(typeof message !== 'undefined'){
        %>
            <h3><%= message %></h3>
        <%
    }

%>

<form action="" method="POST">
    <input type="text" name="password" placeholder="Enter Password">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
    <input type="submit" value="submit">
</form>


<%- include('../layouts/footer') %>