<%- include('../layouts/header') %>


<h1>Forget Password</h1>
  

<form action="/forget" method="post">

    <input type="password" name="password" placeholder="Enter Password">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
    <input type="submit" value="Reset Password">

</form>

<a href="/forget">Forget Password</a>



<% include('../layouts/footer.ejs') %>