<%- include('../layouts/header') %>

<!-- registration form -->


<div class="login-page">
  <div class="form">

      <h1> Registration Form</h1> 

<form action="" method="post" class="login-form" enctype="multipart/form-data">
  
  <input type="text" name="name" placeholder="Enter Name" required>
    <br><br>
    <input type="email" name="email" placeholder="Enter Email" required>
    <br><br>
    <input type="text" name="mno" placeholder="Enter Mobile" required>
    <br><br>
    <input type="file" name="image" required>
    <br><br>
    <input type="password" name="password" placeholder="Enter Password" required>
    <br><br>
    <button type="submit" value="Register" class="btn btn-danger">Register</button>  
</form>


<!-- after register succesfully message color -->
<%

  if(typeof message !== 'undefined'){
   %>
    <p style="color:red"><%= message %></p>
   <%
}

%>

<%- include('../layouts/footer') %>
</div>
</div>